<section class="tripl tripl--blue service-block3">

    <div class="tripl__item tripl__item--center">
        <div class="tripl__item-title">Услуга "Предзаказ из Китая" Что это такое?</div>

        <div class="tripl__item-more">Подробнее</div>

        <ul class="tripl__list service-block3__list">
            <li class="tripl__list-item">
                <img src="/assets/img/services/3/svg1.svg" alt="" class="tripl__list-icon">

                <div class="tripl__list-text">
                    Доставка майнинг оборудования – с завода производителя
                </div>
            </li>

            <li class="tripl__list-item">
                <img src="/assets/img/services/3/svg2.svg" alt="" class="tripl__list-icon">

                <div class="tripl__list-text">
                    Ожидать Asic-майнер из Китая необходимо от 10 рабочих дней
                </div>
            </li>

            <li class="tripl__list-item">
                <img src="/assets/img/services/3/svg3.svg" alt="" class="tripl__list-icon">

                <div class="tripl__list-text">
                    Предоплата за заказ может быть частичной и полной
                </div>
            </li>
        </ul>
    </div>

    <div class="tripl__item tripl__item--center">
        <div class="tripl__item-text service-block3__text">
            Предзаказ из Китая – это доставка Майнинг Оборудование – с завода производителя , это реально. Мы дарим
            нашим клиентам возможность доставки самых новых устройств по предзаказу с заводов Bitmain , Wathminer ,
            Canaan и прочих производителей ТОП-майнинг Оборудования. Любые модели новых и старых асиков , под Ваш выбор
            с заводов или нашего склада в Китае. Ожидать Asic-майнер из Китая необходимо от 10 рабочих дней. Предоплата
            за заказ может быть частичной и полной, а сумма к оплате при получении товара может варьироваться в
            зависимости от того, какой вариант выбирает клиент. Если производит оплату сразу, то асик будет стоить
            немного дешевле, а если частично вносит предоплату, то дороже.
        </div>
    </div>

    <div class="tripl__item tripl__item--py30">
        <img src="/assets/img/services/3/img1.png" alt="">
    </div>
</section>