<section class="tripl tripl--blue service-block1">

    <div class="tripl__item tripl__item--center">
        <div class="tripl__item-title">Корпоративные клиенты</div>

        <div class="tripl__item-more">Подробнее</div>

        <div class="tripl__item-text service-block1__text">
            Мы постоянно находимся в Рынке и можем делится инсайдерской информацией и давать рекомендации по выбору
            стратегии !
        </div>
    </div>

    <div class="tripl__item tripl__item--center">
        <ul class="tripl__list">
            <li class="tripl__list-item">
                <img src="/assets/img/services/1/coin.svg" alt="" class="tripl__list-icon">

                <div class="tripl__list-text">
                    Ваше <b>оборудование дешевле</b>, а значит окупится быстрее так как мы <b>исключаем расходы на
                        логистику </b> в Украину и получаем Выгодный тариф на ЭЭ (розетку)
                </div>
            </li>

            <li class="tripl__list-item">
                <img src="/assets/img/services/1/team.svg" alt="" class="tripl__list-icon">

                <div class="tripl__list-text">
                    Наша команда профессионалов, обладает всеми необходимыми ресурсами  для компететной деятельности
                </div>
            </li>

            <li class="tripl__list-item">
                <img src="/assets/img/services/1/server.svg" alt="" class="tripl__list-icon">

                <div class="tripl__list-text">
                    Мы знаем как купить оборудование выгодно, <b>учитываем риски брака</b> при закупке объемов
                </div>
            </li>
        </ul>
    </div>

    <div class="tripl__item tripl__item--py30">
        <img src="/assets/img/services/1/img1.svg" alt="">
    </div>
</section>