<section class="tripl tripl--dark service-block2">
    <div class="tripl__container">
        <div class="tripl__item tripl__item--center tripl__item--p0">
            <img src="/assets/img/services/2/img1.png" class="service-block2__image" alt="">
        </div>

        <div class="tripl__item tripl__item--center">
            <div class="tripl__item-title">Подарочные сертификаты</div>

            <div class="tripl__item-more">Подробнее</div>

            <div class="tripl__item-text service-block2__text">
                Мы полностью за вас настроим физический кашелек и отправим его в красивой коробке
            </div>
        </div>

        <div class="tripl__item tripl__item--center">
            <div class="tripl__item-text service-block2__right">
                Чтобы оплатить Asic из Китая и комплектующие элементы к нему, юр. лицам часто нужно осуществить переводы
                в Китай. Это нужно для того, чтобы своевременно оплатить инвойс поставщика. Наша компания поможет вам
                легко и быстро сделать перевод юань из Киева в Китай, потому что мы работаем исключительно с украинскими
                банками, которые ведут официальную деятельность, банковскими организациями Китайской Народной Республики
                и пользуемся только сертифицированными платежными системами. С нами вы всегда имеете возможность
                переводить деньги по самому выгодному и привлекательному курсу через систему Swift юр. лицу либо по
                реквизитам банковской организации
            </div>
        </div>
    </div>
</section>