<section class="tripl tripl--blue service-block3">

    <div class="tripl__item tripl__item--center orange tripl--orange">

        <div class="tripl__body">
            <div class="tripl__item-title">Правильная информация улучшит ваш бизнес</div>

            <div class="tripl__item-text service-block5__info">
                Что-бы получить актуальную информацию касательно асиков и майнинг оборудования , оставьте Ваш контактный
                номер телефона и <b>консультант свяжется с Вами в течении 10 минут</b>!
            </div>

            <div class="orange__input">
                <input type="text" placeholder="Номер телефона" class="orange__input-body">

                <div class="orange__input-btn btn--gradient">
                    Отправить
                </div>
            </div>
        </div>
    </div>

    <div class="tripl__item tripl__item--py30">
        <img src="/assets/img/services/5/img1.png" alt="">
    </div>

    <div class="tripl__item tripl__item--center">
        <div class="tripl__item-title">Trade in</div>

        <div class="tripl__item-more">Подробнее</div>

        <div class="tripl__item-text service-block5__text">
            Вы обладатель ASIC оборудования и хотите обновить свой модельный ряд? Именно для Вас существует программа
            Trade-IN. <b>Сдайте своё старое устройство, и купите новое с доплатой</b>. Как обменять устройство по
            программе
            Trade-in ? Перейдите по ссылке ниже
        </div>
    </div>

</section>