<section class="firsts firsts--services">
    <img src="/assets/img/services/img1.png" alt="" class="firsts__image">

    <div class="firsts__content">
        <div class="firsts__content-info">
            <div class="firsts__content-title">
                Услуги от AsicFox
            </div>

            <div class="firsts__content-text">
                Что Вас Интересует?
            </div>

            <a href="" class="firsts__content-link btn--gradient">
                Связаться с нами
            </a>
        </div>

        <ul class="firsts__list">
            <li class="firsts__list-item">
                <img src="/assets/img/services/icon/icon1.svg" alt="" class="firsts__list-icon">

                <div class="firsts__list-body">
                    <div class="firsts__list-title">Программа Trade-IN</div>

                    <div class="firsts__list-text">
                        Выкуп и обмен клиенского оборудования на новое или бу
                    </div>

                    <a href="" class="firsts__list-link">Смотреть подробнее</a>
                </div>
            </li>

            <li class="firsts__list-item">
                <img src="/assets/img/services/icon/icon2.svg" alt="" class="firsts__list-icon">

                <div class="firsts__list-body">
                    <div class="firsts__list-title">Денежные Переводы</div>

                    <div class="firsts__list-text">
                        Денежные переводы по Украине и в Китай
                    </div>

                    <a href="" class="firsts__list-link">Смотреть подробнее</a>
                </div>
            </li>

            <li class="firsts__list-item"></li>

            <li class="firsts__list-item">
                <img src="/assets/img/services/icon/icon3.svg" alt="" class="firsts__list-icon">

                <div class="firsts__list-body">
                    <div class="firsts__list-title">Корпоративные клиенты</div>

                    <div class="firsts__list-text">
                        Выкуп и обмен клиенского оборудования на новое или бу
                    </div>

                    <a href="" class="firsts__list-link">Смотреть подробнее</a>
                </div>
            </li>

            <li class="firsts__list-item">
                <img src="/assets/img/services/icon/icon4.svg" alt="" class="firsts__list-icon">

                <div class="firsts__list-body">
                    <div class="firsts__list-title">Подарочные сертификаты</div>

                    <div class="firsts__list-text">
                        Выкуп и обмен клиенского оборудования на новое или бу
                    </div>

                    <a href="" class="firsts__list-link">Смотреть подробнее</a>
                </div>
            </li>

            <li class="firsts__list-item">
                <img src="/assets/img/services/icon/icon5.svg" alt="" class="firsts__list-icon">

                <div class="firsts__list-body">
                    <div class="firsts__list-title">Предзаказ</div>

                    <div class="firsts__list-text">
                        Доставка Asic из Китая , с склада или завода Производителя
                    </div>

                    <a href="" class="firsts__list-link">Смотреть подробнее</a>
                </div>
            </li>
        </ul>
    </div>
</section>
