<aside class="service-notes">
    <div class="service-notes__container">
        <div class="service-notes__item">
            <div class="service-notes__item-title">
                Xотите оформить Педзаказ асика из Завода производителя или Китая?
                Оплатить переводом любой товар?
            </div>

            <div class="service-notes__item-text">
                Это больше не проблемма!
            </div>
        </div>

        <div class="service-notes__item">
            <div class="service-notes__item-text">
                Важной составляющей работы компании AsicFox является предоставление дополнительных услуг клиентам, среди
                которых: помощь в осуществлении денежных переводов в Китай, сервисное обслуживание и оформление
                предзаказа на товар. Рассмотрим более подробно каждую из предоставляемых нами услуг.
            </div>
        </div>
    </div>
</aside>