<div class="mobile">
    <div class="mobile__top">
        <div class="mobile__top-left">
            <div class="mobile__top-icon">
                <div class="mobile__top-count">0</div>

                <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 28L16 4" stroke-width="1.5"/>
                    <path d="M24.6663 2.88885L7.33301 2.88885" stroke-width="1.5"/>
                    <path d="M24.6663 28H7.33301" stroke-width="1.5"/>
                    <path d="M1.72392 19.9201L6.8826 9.16234C7.06406 8.78394 7.60283 8.78394 7.78429 9.16234L12.9475 19.9295C13.0443 20.1315 12.9949 20.3747 12.8225 20.5175C9.18045 23.5338 5.3042 23.2284 1.85826 20.5162C1.67843 20.3747 1.62497 20.1264 1.72392 19.9201Z"
                          stroke-width="1.5"/>
                    <path d="M19.0569 19.9201L24.2156 9.16234C24.3971 8.78394 24.9358 8.78394 25.1173 9.16234L30.2805 19.9295C30.3773 20.1315 30.328 20.3747 30.1555 20.5175C26.5135 23.5338 22.6372 23.2284 19.1913 20.5162C19.0114 20.3747 18.958 20.1264 19.0569 19.9201Z"
                          stroke-width="1.5"/>
                    <path d="M18.1381 2.88889C18.1381 4.07016 17.1805 5.02778 15.9992 5.02778C14.818 5.02778 13.8604 4.07016 13.8604 2.88889C13.8604 1.70761 14.818 0.75 15.9992 0.75C17.1805 0.75 18.1381 1.70761 18.1381 2.88889Z"
                          stroke-width="1.5"/>
                </svg>
            </div>

            <div class="mobile__top-icon">
                <div class="mobile__top-count">0</div>

                <svg width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.6204 29.22C16.4446 29.3571 16.2282 29.4315 16.0054 29.4315C15.7825 29.4315 15.5661 29.3571 15.3904 29.22C9.83035 24.9 6.00036 21.18 3.32036 17.51L16.6204 29.22ZM16.6204 29.22C22.1704 24.91 26.0104 21.22 28.6904 17.51L16.6204 29.22ZM30.3261 4.96854L30.3264 4.9691C32.0418 8.48203 31.3973 12.5117 28.0837 17.069L28.0824 17.0708C25.4617 20.6987 21.684 24.3381 16.1603 28.6277L16.1591 28.6286C16.1152 28.6629 16.0611 28.6815 16.0054 28.6815C15.9496 28.6815 15.8955 28.6629 15.8516 28.6286L15.8505 28.6278C10.3196 24.3304 6.54914 20.6597 3.92635 17.0681C0.603329 12.5111 -0.0409762 8.48176 1.6743 4.9691L1.67457 4.96854C2.85109 2.55404 6.3245 0.479039 10.4829 1.67076C12.4651 2.24349 14.1946 3.47145 15.3887 5.15408L16.0004 6.01589L16.612 5.15408C17.8063 3.47125 19.536 2.2432 21.5185 1.67056L21.5204 1.66999C25.6642 0.461006 29.1483 2.55123 30.3261 4.96854Z"
                          stroke-width="1.5"/>
                </svg>
            </div>
        </div>

        <div class="header__theme">
            <div id="m_theme_dark" class="header__theme-item active">Dark</div>
            <div id="m_theme_white" class="header__theme-item">Light</div>
        </div>
    </div>

    <ul class="mobile__body">
        <li class="menu-item menu-item-has-children">
            <a href="">ASIC-Майнеры</a>

            <ul class="sub-menu">
                <li class="menu-item"><a href="">Оборудование Новое</a></li>
                <li class="menu-item"><a href="">Оборудование БУ</a></li>
                <li class="menu-item"><a href="">Оборудование Предзаказ</a></li>
            </ul>
        </li>

        <li class="menu-item menu-item-has-children">
            <a href="">Аксессуары и Запчасти</a>

            <ul class="sub-menu">
                <li class="menu-item"><a href="">Crypto-Кошельки</a></li>
                <li class="menu-item menu-item-has-children">
                    <a href="">Комплектующие</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="">Контрольные Платы</a></li>
                        <li class="menu-item"><a href="">Кулера для Асиков</a></li>
                        <li class="menu-item"><a href="">Блоки питания</a></li>
                        <li class="menu-item"><a href="">Хеш Платы</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="">Pro Майнинг</a>
        </li>

        <li class="menu-item menu-item-has-children">
            <a href="">Услуги</a>

            <ul class="sub-menu">
                <li class="menu-item"><a href="">Крипто Сертификаты</a></li>
                <li class="menu-item"><a href="">Денежные переводы</a></li>
                <li class="menu-item"><a href="">Предзаказ</a></li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="">Контакты</a>
        </li>

        <li class="menu-item menu-item-has-children">
            <a href="">О нас</a>

            <ul class="sub-menu">
                <li class="menu-item"><a href="">Кеш-Бек TG Bot</a></li>
                <li class="menu-item"><a href="">Новый Год 2021</a></li>
                <li class="menu-item"><a href="">Наши Акции</a></li>
            </ul>
        </li>
    </ul>

    <ul id="m_value" class="mobile__value"></ul>
</div>