<section class="trade-contact orange">
    <div class="orange__container trade-contact__container">
        <div class="trade-contact__info">
            <div class="orange__title">
                Где обмен
            </div>

            <ul class="trade-contact__info-list">
                <li class="trade-contact__info-item">
                    <div class="trade-contact__info-header">
                        <img src="/assets/img/trade/icon/eva_phone-fill.svg" alt="" class="trade-contact__info-icon">

                        <div class="trade-contact__info-title">Телефон</div>
                    </div>

                    <div class="trade-contact__info-value">
                        <p>(093)170-78-75</p>
                        <p>(068)011-39-42</p>
                    </div>

                    <div class="trade-contact__info-text">
                        <p>Связатся с менеджером , оставить</p>
                        <p>заявку на оборудование и ремон</p>
                    </div>
                </li>

                <li class="trade-contact__info-item">
                    <div class="trade-contact__info-header">
                        <img src="/assets/img/trade/icon/bx_bxs-message.svg" alt="" class="trade-contact__info-icon">

                        <div class="trade-contact__info-title">Мессенджеры</div>
                    </div>

                    <div class="trade-contact__info-socList">
                        <a href="" class="trade-contact__info-soc">
                            <img src="/assets/img/trade/icon/cib_facebook.svg" alt="">
                        </a>

                        <a href="" class="trade-contact__info-soc">
                            <img src="/assets/img/trade/icon/fa-brands_telegram.svg" alt="">
                        </a>

                        <a href="" class="trade-contact__info-soc">
                            <img src="/assets/img/trade/icon/whh_viber.svg" alt="">
                        </a>
                    </div>

                    <div class="trade-contact__info-text">
                        <p>Мы доступны по всем популярными</p>
                        <p>месенджерами 24\7!</p>
                    </div>
                </li>

                <li class="trade-contact__info-item">
                    <div class="trade-contact__info-header">
                        <img src="/assets/img/trade/icon/clarity_map-marker-solid.svg" alt="" class="trade-contact__info-icon">

                        <div class="trade-contact__info-title">Адрес</div>
                        <a href="" class="trade-contact__info-link">Смотреть на карте</a>
                    </div>

                    <div class="trade-contact__info-value">
                        <p>Пр. Победы 30 Киев , Украина</p>
                    </div>

                    <div class="trade-contact__info-text">
                        <p>Офис в центре Киева.</p>
                        <p>Удобная развязка и доступность</p>
                    </div>
                </li>

                <li class="trade-contact__info-item">
                    <div class="trade-contact__info-header">
                        <img src="/assets/img/trade/icon/bx_bxs-time-five.svg" alt="" class="trade-contact__info-icon">

                        <div class="trade-contact__info-title">Время работы</div>
                    </div>

                    <div class="trade-contact__info-value">
                        <p>Пн–Пт 10-00 до 18-00</p>
                        <p>Суббота 11-00 до 15-00</p>
                        <p>Воскресенье – Выходной</p>
                    </div>
                </li>
            </ul>

            <form class="trade-contact__info-phone">
                <input class="input" placeholder="Номер телефона" type="text">
                <button class="btn--gradient" type="submit">Отправить</button>
            </form>
        </div>

        <div class="trade-contact__image">
            <img src="/assets/img/trade/map.png" alt="">
        </div>
    </div>
</section>