<section class="trade-faq">
    <div class="trade-faq__item trade-faq__item--left">
        <div class="trade-faq__title">
            Часто задаваемые вопросы
        </div>

        <ul class="trade-faq__list">
            <li class="trade-faq__list-item">
                <div class="trade-faq__list-title">Какие требования к технике?</div>

                <div class="trade-faq__list-text">
                    Принимаем работающие и не работающие девайсы, но внешний вид, техническое состояние и комплектация
                    влияют на оценочную стоимость
                </div>
            </li>

            <li class="trade-faq__list-item">
                <div class="trade-faq__list-title">Что нужно для участия в программе?</div>

                <div class="trade-faq__list-text">
                    Иметь майнинг оборудование не ниже уровня Antminer S9 ,Z9 mini и хорошее настроение
                </div>
            </li>

            <li class="trade-faq__list-item">
                <div class="trade-faq__list-title">Где происходит обмен?</div>

                <div class="trade-faq__list-text">
                    Обмен происходит в офисе AsicFox по адресу: г.Киев, ул. Бассейная 3А
                </div>
            </li>
        </ul>
    </div>

    <div class="trade-faq__item trade-faq__item--right">
        <ul class="trade-faq__list">
            <li class="trade-faq__list-item">
                <div class="trade-faq__list-title">Можно ли вернуть товар после сделки?</div>

                <div class="trade-faq__list-text">
                    Техника, приобретенная по программе trade-in, возврату и обмену не подлежит.
                </div>
            </li>

            <li class="trade-faq__list-item">
                <div class="trade-faq__list-title">Принимаем ли мы другие АСИК майнеры по программе TRADE-in ?</div>

                <div class="trade-faq__list-text">
                    Принимаем. Более подробно какие модели попадают в список обмена можете уточнить по любому телефону с
                    нашего сайта.
                </div>
            </li>
        </ul>
    </div>
</section>