<section class="trade-home">
    <div class="trade-home__content">
        <div class="trade-home__content-title">
            Trade in
        </div>

        <a href="" class="trade-home__content-connect btn--gradient">
            Связаться с нами
        </a>

        <ul class="trade-home__content-rule">
            <li class="trade-home__content-item">
                <img src="/assets/img/trade/rule/money.svg" alt="" class="trade-home__content-icon">

                <div class="trade-home__content-text">
                    <b>Лучшие на рынке цены</b> за старую технику
                </div>
            </li>

            <li class="trade-home__content-item">
                <img src="/assets/img/trade/rule/search.svg" alt="" class="trade-home__content-icon">

                <div class="trade-home__content-text">
                    <b>Бесплатная диагностика</b> устройства в течении 20 минут
                </div>
            </li>

            <li class="trade-home__content-item">
                <img src="/assets/img/trade/rule/exchange.svg" alt="" class="trade-home__content-icon">

                <div class="trade-home__content-text">
                    <b>Обмен</b> происходит <b>в уютном офисе</b>. К новому майнеру получите договор и гарантию
                </div>
            </li>

            <li class="trade-home__content-item">
                <img src="/assets/img/trade/rule/time.svg" alt="" class="trade-home__content-icon">

                <div class="trade-home__content-text">
                    Новое Asic устройство Вы получете <b>в день или на на следующий день</b> обращения
                </div>
            </li>
        </ul>
    </div>

    <div class="trade-home__image">
        <img src="/assets/img/trade/home.png" alt="">
    </div>
</section>