<section class="trade-info">
    <div class="trade-info__container">
        <div class="trade-info__header">
            <div class="trade-info__header-title">
                Мы принимаем на обмен устройства на алгоритмах: SHA 256 Eqiuhash
            </div>

            <div class="trade-info__text">
                Bitmain , Innosilicon , Love Core , Wathminer , Ebang , Baikal и прочее устройства , более подробно
                уточняйте у оператора.
            </div>
        </div>

        <div class="trade-info__group">
            <div class="trade-info__title">
                Как обменять устройство по программе Trade-in ?
            </div>

            <div class="trade-info__text">
                По программе Trade-in вашу технику можно обменивать на любую технику : Antminer S17 53th\s 56th\s , S17
                PRO 50th\s 53th\s или Antminer T17 у нас на сайте, доплатив только разницу. Не желая покупать новый
                девайс в AsicFox – забираете всю оценочную стоимость за ваше старое устройство.
            </div>
        </div>

        <div class="trade-info__group">
            <div class="trade-info__title">
                Trade-in программа исключает какие-либо спекуляции ?
            </div>

            <div class="trade-info__text">
                Процесс прозрачен, безопасен и выгоден потребителю. Наличие коробки, оригинального кабеля,
                работоспособности ( стабильности ) , документов и внешнего вида существенно влияет на оценочную
                стоимость устройства. Их наличие поможет вам больше сэкономить на покупке нового устройства.
            </div>
        </div>

        <ul class="trade-info__rule">
            <li class="trade-info__rule-item">
                <div class="trade-info__rule-num">1</div>

                <div class="trade-info__rule-text">Отдаете старый Асик</div>
            </li>

            <li class="trade-info__rule-item">
                <div class="trade-info__rule-num">2</div>

                <div class="trade-info__rule-text">Получаете Асик нового уровня</div>
            </li>
        </ul>
    </div>
</section>