{% import '../../includes/_macro.njk' as macro %}
{% set breadcrumbs = [
    {
        label: 'Главная'
    },
    {
        label: 'Asic майнеры'
    },
    {
        label: 'Новые асики'
    }
] %}

<div class="newasic-home">
    <div class="newasic-home__dark">
        <div class="newasic-home__dark-container">
            {{ macro.breadcrumbs(breadcrumbs) }}

            <div class="newasic-home__dark-title">Новые асики</div>
        </div>
    </div>

    <ul class="newasic-home__blue">
        <li class="newasic-home__blue-item">
            <img src="/assets/img/asic/link/svg1.svg" alt="" class="newasic-home__blue-icon">

            <a href="" class="newasic-home__blue-text">Майнинг СВО</a>
        </li>

        <li class="newasic-home__blue-item">
            <img src="/assets/img/asic/link/svg1.svg" alt="" class="newasic-home__blue-icon">

            <a href="" class="newasic-home__blue-text">Энергоэффективные Асики</a>
        </li>

        <li class="newasic-home__blue-item">
            <img src="/assets/img/asic/link/svg2.svg" alt="" class="newasic-home__blue-icon">

            <a href="" class="newasic-home__blue-text">Меньше $ - Больше Терахэш</a>
        </li>

        <li class="newasic-home__blue-item">
            <img src="/assets/img/asic/link/svg3.svg" alt="" class="newasic-home__blue-icon">

            <a href="" class="newasic-home__blue-text">Меньше $ - Больше Терахэш</a>
        </li>

        <li class="newasic-home__blue-item">
            <img src="/assets/img/asic/link/svg1.svg" alt="" class="newasic-home__blue-icon">

            <a href="" class="newasic-home__blue-text">Bitmain</span>
        </li>

        <li class="newasic-home__blue-item">
            <img src="/assets/img/asic/link/svg1.svg" alt="" class="newasic-home__blue-icon">

            <a href="" class="newasic-home__blue-text">Whatsminer</a>
        </li>

        <li class="newasic-home__blue-item">
            <img src="/assets/img/asic/link/svg2.svg" alt="" class="newasic-home__blue-icon">

            <a href="" class="newasic-home__blue-text">Innsolution</a>
        </li>

        <li class="newasic-home__blue-item">
            <img src="/assets/img/asic/link/svg3.svg" alt="" class="newasic-home__blue-icon">

            <a href="" class="newasic-home__blue-text">Avalon</a>
        </li>
    </ul>
</div>