// Dark
$dark1: #101017;
$dark2: #696969;
$dark3: #38383D;
$dark4: #828282;
$dark5: #15151F;
$dark6: #2E2E3D;

// White
$white1: #F8F8F8;
$white2: #adb6bc;
$white3: #C4C4C4;

$orange1: #FF8112;
$green1: #13FF39;
$red1: #FF1313;
$red2: #FF2416;
$blue1: #16151F;
$blue2: #2d2d45;
$blue3: #15151F;
