@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
    font-family: Gilroy;
    src: url(/assets/fonts/Gilroy-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: Gilroy;
    src: url(/assets/fonts/Gilroy-Bold.woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url(/assets/fonts/Gilroy-Extrabold.woff) format("woff");
    font-weight: 800;
}