<section class="catalog-home">
    <div class="catalog-home__info">
        <div class="catalog-home__info-title">Аксессуары и Комплектующие</div>

        <div class="catalog-home__info-text">Выберите категорию</div>
    </div>

    <ul class="catalog-home__list">
        <li class="catalog-home__list-item">
            <img src="/assets/img/catalog/icon/img01.png" alt="" class="catalog-home__list-icon">

            <div class="catalog-home__list-body">
                <div class="catalog-home__list-title">Криптокошельки</div>

                <div class="catalog-home__list-text">Хранение Ваших криптовалютных активов</div>

                <a href="" class="catalog-home__list-link">Перейти</a>
            </div>
        </li>

        <li class="catalog-home__list-item">
            <img src="/assets/img/catalog/icon/img02.png" alt="" class="catalog-home__list-icon">

            <div class="catalog-home__list-body">
                <div class="catalog-home__list-title">Блоки Питания</div>

                <div class="catalog-home__list-text">Для работы Вашего ASIC-оборудования</div>

                <a href="" class="catalog-home__list-link">Перейти</a>
            </div>
        </li>

        <li class="catalog-home__list-item">
            <img src="/assets/img/catalog/icon/img03.png" alt="" class="catalog-home__list-icon">

            <div class="catalog-home__list-body">
                <div class="catalog-home__list-title">Комплектующие</div>

                <div class="catalog-home__list-text">Расходники для ASIC-оборудования</div>

                <a href="" class="catalog-home__list-link">Перейти</a>
            </div>
        </li>
    </ul>

    <img src="/assets/img/catalog/img2.svg" alt="" class="catalog-home__image">
</section>