<section class="accessories-info editor">
    <div class="accessories-info__container">
        <h1>Основные комплектующие для Асиков и майнинг Оборудования</h1>

        <p>
            На нашем сайте во вкладке «Аксессуары», кроме криптовалютных кошельков и блоков питания, вы можете выбрать
            различные необходимые комплектующие для майнинга. <b>Здесь вашему выбору представлены</b>:
        </p>

        <ul class="mb-5 mb-sm-3 list--3">
            <li>Контрольные платы</li>
            <li>Хеш платы (лезвия)</li>
            <li>Куллера</li>
            <li>Кабели питания</li>
            <li>Корпуса и прочее</li>
        </ul>

        <p>
            Все эти комплектующие предназначены для коректной работы асика , или для востановления его работоспособности
            , и соответственно стабильного получения дохода от процесса добычи криптовалют. Мы сотрудничаем
            исключительно с надежными и проверенными поставщикам и производителями, поэтому можете быть уверенны в
            качестве нашей продукции. Вы всегда можете обратиться за помощью к нашим квалифицированным менеджерам,
            которые помогут определиться с выбором и оформить заказ. Осуществляем быструю доставку по территории всей
            Украины
        </p>
    </div>
</section>