<section class="accessories-info editor">
    <div class="accessories-info__container">
        <h1>Как выбрать блоки питания для Асика</h1>

        <p>
            Блок питания для Асик майнера – это обязательная составляющая, присутствующая практически в каждом новом
            Асик майнере , блок бывает встроеным так и модульным – наружным , как например Блок AWP3++ для серий от L3 –
            и заканчивая поддержкой S9k. Первым важным критерием выбора является потребляемая мощность. Так как блоки ,
            например для S9 серии могут использовать не родные – а серверные. Потребление серверным блоков для
            Асик-майнеров , и родных – различается. Эти данные всегда можно увидеть в инструкции производителя, на
            этикетке и проконсультировавшись с нашими квалифицированными менеджерами. Второй момент, на который стоит
            обратить внимание – это количество разъемов для подсоединения. При применении разветвителей, которые дают
            возможность подсоединять одновременно несколько аппаратов к 1-му порту, сильно увеличивается нагрузка, а это
            неизбежно приведет к быстрой поломке асика. Третьей важной характеристикой считается надежность БП. Они
            должны выполнять бесперебойное снабжение электрической энергией. В случае, если в помещении происходят
            перепады напряжения сети, то это не только влияет на процесс добычи крипты, но и существенно вредит (если
            это майнинг ферма на видеокартах) – видеокартам, материнской плате, а также процессору,если АSIC майнеру –
            контрольной плате и Хеш платам , так как блок питания на прямую подключён к обоим
        </p>

        <blockquote>
            Наша компания AsicFox предлагает на выбор различные блоки питания с разными характеристиками. Чтобы
            предотвратить перегрев асиков от работы, все БП, представленные в нашем каталоге имеют дополнительные
            куллеры для охлаждения системы. Такой показатель необходимо обязательно принять во внимание при
            подсоединении к майнинг ферме
        </blockquote>
    </div>
</section>