<section class="sections sections--dark">
    <div class="sections__container">
        <div class="sections__info">
            <div class="sections__info-title">Комплектующие для Asic</div>

            <div class="sections__info-text">
                Асик майнеры – это техника , как и любой технике – необходимы рассадники и запчасти и компюектующие. Всё
                , начиная от пинов и заканчивая платами управления для Btimain , Innosiliocon , Ebang и прочих
                проихводителей
            </div>

            <a href="" class="sections__info-link btn--gradient">Оставить заяку</a>
        </div>

        <div class="sections__image">
            <img src="/assets/img/catalog/img6.png" alt="">
        </div>
    </div>
</section>