<section class="sections sections--dark">
    <div class="sections__container">
        <div class="sections__info">
            <div class="sections__info-title">Криптокошельки</div>

            <div class="sections__info-text">
                Накопление криптовалюты – это основное.Но намайнили , а где хранить ? да еще и безопасно? Холодные
                криптокошельки! Размер – как обычная флешка.Но способны уместить практически любое количество
                сбережений. Интересно? Тогда переходи по кнопке , и оставляй заявку. Подскажем – объясним. Порекомендуем
            </div>

            <a href="" class="sections__info-link btn--gradient">Оставить заяку</a>
        </div>

        <div class="sections__image">
            <img src="/assets/img/catalog/img4.png" alt="">
        </div>
    </div>
</section>