<section class="sections sections--dark">
    <div class="sections__container">
        <div class="sections__info">
            <div class="sections__info-title">Блоки Питания для Асиков</div>

            <div class="sections__info-text">
                Блоки питания – не отделимая часть любого Асика. В зависимости от модели асика – разнится. У нас
                доступны к продаже Блоки питания для любых асиков , начиная от Блока питания APW3++ и до Блока Питания
                для Wathminer M20s
            </div>

            <a href="" class="sections__info-link btn--gradient">Оставить заяку</a>
        </div>

        <div class="sections__image">
            <img src="/assets/img/catalog/img5.png" alt="">
        </div>
    </div>
</section>