<section class="firsts firsts--about">
    <div class="firsts__content">
        <div class="firsts__content-info">
            <div class="firsts__content-title">О AsicFox</div>

            <div class="firsts__content-text">
                Проект AsicFox основан в конце 2017 года и предоставляет собой возможность получать качественное Майнинг
                оборудование о лучших производителей.Более чем за 2.5 года работы AsicFox заслужил доверие клиентов и
                партнёров по всей Украине
            </div>
        </div>

        <ul class="firsts__list">
            <li class="firsts__list-item">
                <div class="firsts__list-title">600+</div>

                <div class="firsts__list-text">
                    Ремонтов майнинг оборудования и комплектующих
                </div>
            </li>

            <li class="firsts__list-item">
                <div class="firsts__list-title">2 000+</div>

                <div class="firsts__list-text">
                    Довольных покупателей оборудования и аксессуаров
                </div>
            </li>

            <li class="firsts__list-item">
                <div class="firsts__list-title">900+</div>

                <div class="firsts__list-text">
                    Успешных предзаказов асиков из Китая
                </div>
            </li>
        </ul>
    </div>

    <div class="firsts__image">
        <img src="/assets/img/about/img.png" alt="">
    </div>
</section>
