<section class="about__info">
    <div class="about__info-item">
        <div class="about__info-body">
            <div class="about__info-title">Больше о нас</div>

            <div class="about__info-suptitle">
                Компания – AsicFOX. МЫ знаем что вам необходимо для прибыльного и комфортного майнинга сегодня!
            </div>

            <p>
                Наш проект был основан 2017 году когда мы приняли решение присоединились к числу Крипто – Энтузиастов и
                стать частью Майнинг идеи. Идеи с которой жили Мы и наши партнеры. За 3 года успешной работы мы получили
                возможность стать по настоящему профессионалами своего дела.Благодаря полученному опыту, мы смогли
                внести свой вклад в развитие Майнинга по всей Украине, повысив качество предоставляемых услуг и
                дополнительных возможностей для наших клиентов и партнеров , а именно:
            </p>

            <ul class="about__info-list">
                <li class="about__info-litem">
                    Запуск полноценного сервисного центра
                </li>

                <li class="about__info-litem">
                    Реорганизовали и повысили надежность и эффективность вторичного рынка БУ оборудования
                </li>

                <li class="about__info-litem">
                    Запуск программы Trade-IN, стали Гарантом качества и долговечности Асик-устройств
                </li>
            </ul>
        </div>
    </div>

    <div class="about__info-item">
        <div class="about__info-body">
            <p>
                Предоставили возможность нашим клиентам и партнерам заказывать асик майнеры с Китайских Ферм, складов и
                на прямую с завода производителя. Наша компания с успехом справляется с доставкой дорогостоящего
                оборудования , доставляя в целости и сохранности, тем самым предоставляя каждому возможность купить
                проверенные временем машины популярных производителей Mining оборудования : Bitmain , innosilicon ,
                Whatsminer и пр. Мы всегда в курсе новостей майнинг индустрии , регулярно отслеживая новинки ASIC
                оборудования поднебесной и занимаемся собственными разработками .
            </p>

            <p>
                В тоже время , опыт не проходит бесследно и для нашего тех. отдела Asicfox Service , где ремонт асик
                майнеров для Вас уже не будет головной болью , мы предоставляем возможность отремонтировать практически
                любой асик с разной сложностью ремонта.
            </p>
        </div>
    </div>

    <div class="about__info-item">
        <div class="about__info-body">
            <p>
                И Самое главное – Это Репутация Нашей компании как надежного партнера и поставщика асик устройств.
                Положительные отзывы постоянных клиентов , знание особенностей рынка , высокий профессионализм
                работающих у нас специалистов которые с удовольствием подберут и настроят оборудование для стабильной
                работы и получения максимальной выгоды от любого ASIC устройства.
            </p>
            
            <ul class="about__info-contact">
                <li class="about__info-group">
                    <header class="about__info-header">
                        <img src="/assets/img/contact/list/icon3.svg" alt="" class="about__info-icon">

                        <div class="about__info-contitle">Время работы</div>
                    </header>

                    <div class="about__info-value">
                        <span>Пн–Пт 10-00 до 18-00</span>
                        <span>Суббота 11-00 до 15-00</span>
                        <span>Воскресенье – Выходной</span>
                    </div>

                    <div class="about__info-context">
                        <span>Мы принимаем и выдаём Майнинг</span>
                        <span>Оборудвание 6 дней в неделю</span>
                    </div>
                </li>
                
                <li class="about__info-group">
                    <header class="about__info-header">
                        <img src="/assets/img/contact/list/icon1.svg" alt="" class="about__info-icon">

                        <div class="about__info-contitle">Адрес</div>
                        <a href="" class="about__info-conlink">Смотреть на карте</a>
                    </header>

                    <div class="about__info-value">
                        <span>Пр. Победы 30 Киев , Украина</span>
                    </div>

                    <div class="about__info-context">
                        <span>Офис в центре Киева.</span>
                        <span>Удобная развязка и доступность</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>