<section class="about__target">

    <div class="about__target-subtitle">Наша цель:</div>
    <div class="about__target-title">Предоставить полный майнинг сервис — лучший по Украине</div>

    <ul class="about__target-steep">
       <li class="about__target-item">
           <div class="about__target-num">1</div>
           <div class="about__target-text">Покупка/заказ обрудования</div>
       </li>

        <li class="about__target-item">
            <div class="about__target-num">2</div>
            <div class="about__target-text">Доставка/сервера в Китае</div>
        </li>

        <li class="about__target-item">
            <div class="about__target-num">3</div>
            <div class="about__target-text">Ремонт и обслуживание</div>
        </li>
    </ul>
</section>