<aside class="product-info">
    <ul class="product-info__container">
        <li class="product-info__item">
            <img src="/assets/img/product/icon/img1.svg" alt="" class="product-info__item-icon">

            <div class="product-info__item-body">
                <div class="product-info__item-title">AsicFox Support 24\7</div>

                <div class="product-info__item-text">
                    Подключение и полная Настройка вашего оборудования
                </div>
            </div>
        </li>

        <li class="product-info__item">
            <img src="/assets/img/product/icon/img2.svg" alt="" class="product-info__item-icon">

            <div class="product-info__item-body">
                <div class="product-info__item-title">Гарантия на товар </div>

                <div class="product-info__item-text">
                    Качественные и проверенные ASIC-майнеры и аксессуары
                </div>
            </div>
        </li>

        <li class="product-info__item">
            <img src="/assets/img/product/icon/img3.svg" alt="" class="product-info__item-icon">

            <div class="product-info__item-body">
                <div class="product-info__item-title">Собственный Сервис </div>

                <div class="product-info__item-text">
                    Обслуживание и Ремонт в нашем Сервис-центре
                </div>
            </div>
        </li>

        <li class="product-info__item">
            <img src="/assets/img/product/icon/img4.svg" alt="" class="product-info__item-icon">

            <div class="product-info__item-body">
                <div class="product-info__item-title">Оплата товара</div>

                <div class="product-info__item-text">
                    Банковская карта, наличными: USD/ UAH, криптовалютой: BTC / USDT/ ETH
                </div>
            </div>
        </li>

        <li class="product-info__item">
            <img src="/assets/img/product/icon/img5.svg" alt="" class="product-info__item-icon">

            <div class="product-info__item-body">
                <div class="product-info__item-title">Доставка</div>

                <div class="product-info__item-text">
                    Новая Почта - по тарифам. Самовывоз
                </div>
            </div>
        </li>
    </ul>
</aside>