<section id="tabs" class="product-tabs">
    <ul class="product-tabs__header">
        <li data-tabs="0" class="product-tabs__header-item active">Описание</li>
        <li data-tabs="1" class="product-tabs__header-item">Характеристики</li>
        <li data-tabs="2" class="product-tabs__header-item">Отзывы</li>
    </ul>

    <div class="product-tabs__body">
        <div data-content="0" class="product-tabs__body-content editor ">
            <h1>Lorem ipsum dolor.</h1>
            <h2>Lorem ipsum dolor.</h2>
            <h3>Lorem ipsum dolor.</h3>
            <h4>Lorem ipsum dolor.</h4>
            <h5>Lorem ipsum dolor.</h5>
            <h6>Lorem ipsum dolor.</h6>

            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut doloribus enim eveniet expedita facere
                impedit laborum odio omnis quam, quos repellat rerum saepe sit tenetur, vitae voluptates? Assumenda
                culpa dignissimos, illum laboriosam laborum nihil omnis qui suscipit ullam vitae? In magni nemo
                veritatis. A aperiam beatae, dolorem dolores doloribus enim eos excepturi facilis fuga fugit id maiores
                maxime molestias nam praesentium quas quasi quis quisquam quo quos repudiandae tempora veritatis
                voluptatum. Aliquam cupiditate dicta dolorem ducimus earum, est libero magni neque, nobis non optio,
                soluta veniam! A deserunt praesentium quasi ratione? Alias animi architecto, asperiores commodi
                consequuntur, corporis cum debitis deserunt distinctio dolorem eius eos et facere facilis illum maxime
                molestiae pariatur perspiciatis, placeat quidem ratione suscipit vel voluptas. Aliquid atque delectus
                ducimus est exercitationem fugit illum ipsam ipsum magni maiores non praesentium, quas, repellat
                repellendus repudiandae ut voluptas voluptates? Consequuntur delectus maiores molestias odio omnis
                similique totam voluptatum.
            </blockquote>

            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nam nostrum officiis.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nam nostrum officiis.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nam nostrum officiis.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nam nostrum officiis.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nam nostrum officiis.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nam nostrum officiis.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nam nostrum officiis.</li>
            </ul>

            <ol>
                <li>Element1</li>
                <li>Element2</li>
                <li>Element3</li>
                <li>Element4</li>
                <li>Element5</li>
                <li>Element6</li>
            </ol>

            <p><b>Lorem</b> <i>ipsum</i> dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Nostrum, sed.</p>
        </div>

        <div data-content="1" class="product-tabs__body-content">
            <ul class="characteristics">
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Производитель</div>

                    <div class="characteristics__item-value">innosilicon</div>
                </li>

                <li class="characteristics__item">
                    <div class="characteristics__item-title">Состояние</div>

                    <div class="characteristics__item-value">Новый</div>
                </li>

                <li class="characteristics__item">
                    <div class="characteristics__item-title">Hash-rate</div>

                    <div class="characteristics__item-value">2100mh/s</div>
                </li>

                <li class="characteristics__item">
                    <div class="characteristics__item-title">Потребление</div>

                    <div class="characteristics__item-value">2400W</div>
                </li>

                <li class="characteristics__item">
                    <div class="characteristics__item-title">Модель</div>

                    <div class="characteristics__item-value">A11</div>
                </li>

                <li class="characteristics__item">
                    <div class="characteristics__item-title">Склад</div>

                    <div class="characteristics__item-value">Китай</div>
                </li>

                <li class="characteristics__item">
                    <div class="characteristics__item-title">Гарантия</div>

                    <div class="characteristics__item-value">180 дней</div>
                </li>
            </ul>
        </div>

        <div data-content="3" class="product-tabs__body-content visible">
            [Testimonials] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, ex.
        </div>
    </div>
</section>