{% import '../../includes/_macro.njk' as macro %}

<section id="faq" class="faq">
    <div class="faq__item">
        <div class="faq__title">Мониторинг</div>

        <ul class="faq__quelist">
            {{ macro.faqItem('Как следить за асиком?', 'Kernel log и состояние Асика', 'Что такое kernel log и прочее что бы следить за Asic майнером') }}

            {{ macro.faqItem('Мониторинг', 'Мониторин состояния оборудования', 'Как следить за "здоровьем" асика.') }}
        </ul>

        <div class="faq__title">Asic</div>

        <ul class="faq__quelist">
            {{ macro.faqItem('Выбор пула/Что майнить?', 'Всё о пулах', 'Что такое пул , как им пользоватся , списки и выбор лучшего') }}

            {{ macro.faqItem('Bitmain/Whatsminer', 'Помощь при выборе Асика', 'Актуальные модели , то на что нужно обращать внимание при выборе вашего майнинг оборудования') }}

            {{ macro.faqItem('Где поставить Асик?', 'Советы по размещению Асиков', 'Практические советы по размещению асиков в Дата Центрах') }}
        </ul>

    </div>

    <div class="faq__item">
        <div class="faq__title">Стратегии</div>

        <ul class="faq__quelist">
            {{ macro.faqItem('Пулы и их виды', 'Что такое майнинг пулы', 'Виды майнинг пулов , и что это такое') }}

            {{ macro.faqItem('Стратегии майнинга', 'Виды стратегий прибыльного Майнинга', 'Как майнить , лучшие примеры как начать и как продолжить прибыльно майнить в 2020 году') }}
        </ul>

        <div class="faq__title">Кошельки</div>

        <ul class="faq__quelist">
            {{ macro.faqItem('Биржа? Холодный кошелек?', 'Хранение на бирже или холодный кошелек ?', 'Основные плюсы бирж или холодных кошельков , помошь при выборе') }}

            {{ macro.faqItem('Хранение и вывод', 'Хранение и вывод криптовалют', 'Все что нужно знать для безопасного хранения и вывода криптовалют') }}
        </ul>

    </div>

    <div class="faq__item">
        <div class="faq__title">Остались вопросы?</div>

        <ul class="faq__list">
            <li class="faq__list-item">
                <img src="/assets/img/faq/mail.svg" alt="" class="faq__list-image">

                <div class="faq__list-info">
                    <div class="faq__list-title">Напишите нам</div>

                    <div class="faq__list-desc">
                        <p>Поддержка 24/7 для пользователей</p>
                        <p>Telegram</p>
                    </div>

                    <div class="faq__list-link">@asicfoxme</div>
                </div>
            </li>

            <li class="faq__list-item">
                <img src="/assets/img/faq/phone.svg" alt="" class="faq__list-image">

                <div class="faq__list-info">
                    <div class="faq__list-title">Наберите нас</div>

                    <div class="faq__list-desc">
                        <p>С 10:00 до 18:00</p>
                        <p>работает Тех.поддержка</p>
                    </div>

                    <div class="faq__list-link">+380 (093) 170-78-75</div>
                </div>
            </li>

            <li class="faq__list-item">
                <img src="/assets/img/faq/post.svg" alt="" class="faq__list-image">

                <div class="faq__list-info">
                    <div class="faq__list-title">Наша почта</div>

                    <div class="faq__list-desc">
                        <p>Мы готовы ответь на любые</p>
                        <p>вопросы по почте</p>
                    </div>

                    <div class="faq__list-link">asicfoxbtc@gmail.com</div>
                </div>
            </li>
        </ul>
    </div>
</section>