<aside class="information">
    <div class="information__item information__item--title">
            Получайте информацию о наших акциях по ремонту и покупке Асиков
    </div>

    <div class="information__item information__item--text">
        AsicFox Official Bot – Данный бот предназначен прежде всего для Вашего удобства , комфорта работы и экономии на
        ремонтах Вашего Майнинг Оборудования в Наших Сервисных центрах по Украине! Бот позволяет экономить на покупке
        оборудования до 0.5 % и на ремонте до 2.5% на Ваш личный счёт.
    </div>

    <div class="information__item information__item--image">
        <img src="/assets/img/image/phone.png" class="information__item-image" alt="">
    </div>
</aside>