<section class="contact-manager">
    <form class="contact-manager__container">
        <div class="contact-manager__item">
            <div class="contact-manager__item-body">
                <div class="contact-manager__item-title">Связь с руководителем</div>

                <div class="contact-manager__item-text">
                    Свяжитесь непосредственно с учредителем
                </div>

                <input type="text" placeholder="Ваше имя" class="contact-manager__item-input input input--p16">
                <input type="text" placeholder="Номер телефона" class="contact-manager__item-input input input--p16">
            </div>
        </div>

        <div class="contact-manager__item">
            <div class="contact-manager__item-body">
                <textarea placeholder="Суть вашего вопроса или обращения"
                        class="input input--textarea contact-manager__item-textarea"></textarea>

                <button type="submit" class="contact-manager__item-submit btn--gradient">Отправить</button>
            </div>
        </div>

        <div class="contact-manager__item">
            <img src="/assets/img/contact/map.png" alt="" class="contact-manager__item-map">
        </div>
    </form>
</section>