{% set title = 'Accessories' %}
{% extends 'includes/_base.njk' %}

{% block content %}
    {% include '../src/includes/_loader.njk' %}

    {% include '../src/components/accessories/home.njk' %}
    {% include '../src/components/accessories/section1.njk' %}
    {% include '../src/components/products.njk' %}
    {% include '../src/components/accessories/info1.njk' %}
    {% include '../src/components/accessories/section2.njk' %}
    {% include '../src/components/accessories/info2.njk' %}
    {% include '../src/components/accessories/section3.njk' %}
    {% include '../src/components/accessories/info3.njk' %}
    {% include '../src/components/accessories/contact.njk' %}
{% endblock %}