{% set title = 'Contact' %}
{% extends 'includes/_base.njk' %}

{% block content %}
    {% include '../src/includes/_loader.njk' %}

    {% include '../src/components/contact/home.njk' %}
    {% include '../src/components/contact/manager.njk' %}
{% endblock %}