{% set title = 'AsicFox импортёр ASIC майнеров и оборудования в Украине' %}
{% extends 'includes/_base.njk' %}

{% block content %}
    {% include '../src/includes/_loader.njk' %}

    {% include '../src/components/home/slider.njk' %}
    {% include '../src/components/home/value.njk' %}
    {% include '../src/components/home/super.njk' %}
    {% include '../src/components/home/models.njk' %}
    {% include '../src/components/home/information.njk' %}
    {% include '../src/components/home/stock.njk' %}
    {% include '../src/components/home/faq.njk' %}
{% endblock %}