{% set title = 'Services' %}
{% extends 'includes/_base.njk' %}

{% block content %}
    {% include '../src/includes/_loader.njk' %}

    {% include '../src/components/services/home.njk' %}
    {% include '../src/components/services/notes.njk' %}
    {% include '../src/components/services/block1.njk' %}
    {% include '../src/components/services/block2.njk' %}
    {% include '../src/components/services/block3.njk' %}
    {% include '../src/components/services/block4.njk' %}
    {% include '../src/components/services/block5.njk' %}
{% endblock %}