.asic-info {
    transition: .3s;

    &__container {
        padding: 120px 32px;

        margin: 0 auto;
        max-width: 1308px;
        width: 100%;

        border-left: 1px solid;
        border-right: 1px solid;
    }
}

@include dark {
    .asic-info {
        color: $white;
        background: $dark1;

        &__container {
            border-color: rgba(255, 255, 255, 0.1);
        }
    }
}
@include white {
    .asic-info {
        color: $black;
        background: $white1;

        &__container {
            border-color: rgba(0, 0, 0, 0.16);
        }
    }
}

// 1200
@include media-breakpoint-down(lg) {
    .asic-info {

        &__container {
            padding: 80px 28px;

            margin: 0 20px;
            width: auto;
        }
    }
}

// 992
@include media-breakpoint-down(md) {
    .asic-info {

        &__container {
            margin: 0 15px;
            padding: 65px 24px;
        }
    }
}

// 768
@include media-breakpoint-down(sm) {
    .asic-info {

        &__container {
            margin: 0 10px;
            padding: 60px 16px 55px;
        }
    }
}

// 576
@media screen and (max-width: 576px) {
    .asic-info {

    }
}