<section class="trade-contact orange">
    <div class="orange__container trade-contact__container">
        <div class="trade-contact__info">
            <div class="orange__title">Доверяйте профи</div>

            <div class="orange__text">
                Команда AsicFox на рынке Asic оборудования Украины с конца 2017 года. За 3 года мы набрались опыта в
                Сервисе и Доставке оборудования. Если Вам нужна помощь в подборе оборудования – смело обращайтесь к нам
            </div>

            <ul class="trade-contact__info-list trade-contact__info-list--200">
                <li class="trade-contact__info-item">
                    <div class="trade-contact__info-header">
                        <img src="/assets/img/trade/icon/eva_phone-fill.svg" alt="" class="trade-contact__info-icon">

                        <div class="trade-contact__info-title">Телефон</div>
                    </div>

                    <div class="trade-contact__info-value">
                        <p>(093)170-78-75</p>
                        <p>(068)011-39-42</p>
                    </div>

                    <div class="trade-contact__info-text">
                        <p>Связатся с менеджером , оставить</p>
                        <p>заявку на оборудование и ремон</p>
                    </div>
                </li>

                <li class="trade-contact__info-item">
                    <div class="trade-contact__info-header">
                        <img src="/assets/img/trade/icon/bx_bxs-message.svg" alt="" class="trade-contact__info-icon">

                        <div class="trade-contact__info-title">Мессенджеры</div>
                    </div>

                    <div class="trade-contact__info-socList">
                        <a href="" class="trade-contact__info-soc">
                            <img src="/assets/img/trade/icon/cib_facebook.svg" alt="">
                        </a>

                        <a href="" class="trade-contact__info-soc">
                            <img src="/assets/img/trade/icon/fa-brands_telegram.svg" alt="">
                        </a>

                        <a href="" class="trade-contact__info-soc">
                            <img src="/assets/img/trade/icon/whh_viber.svg" alt="">
                        </a>
                    </div>

                    <div class="trade-contact__info-text">
                        <p>Мы доступны по всем популярными</p>
                        <p>месенджерами 24\7!</p>
                    </div>
                </li>
            </ul>

            <form class="trade-contact__info-phone">
                <input class="input" placeholder="Номер телефона" type="text">
                <button class="btn--gradient" type="submit">Отправить</button>
            </form>
        </div>
    </div>
</section>