<section class="catalog-home">
    <div class="catalog-home__info">
        <div class="catalog-home__info-title">Asic майнеры от AsicFox</div>

        <div class="catalog-home__info-text">Выберите категорию</div>
    </div>

    <ul class="catalog-home__list">
        <li class="catalog-home__list-item">
            <img src="/assets/img/catalog/icon/img01.png" alt="" class="catalog-home__list-icon">

            <div class="catalog-home__list-body">
                <div class="catalog-home__list-title">Новые Асики</div>

                <div class="catalog-home__list-text">По наличию в Украине и Китае</div>

                <a href="" class="catalog-home__list-link">Перейти</a>
            </div>
        </li>

        <li class="catalog-home__list-item">
            <img src="/assets/img/catalog/icon/img02.png" alt="" class="catalog-home__list-icon">

            <div class="catalog-home__list-body">
                <div class="catalog-home__list-title">Б/У</div>

                <div class="catalog-home__list-text">С Наших Дата-центров</div>

                <a href="" class="catalog-home__list-link">Перейти</a>
            </div>
        </li>

        <li class="catalog-home__list-item">
            <img src="/assets/img/catalog/icon/img03.png" alt="" class="catalog-home__list-icon">

            <div class="catalog-home__list-body">
                <div class="catalog-home__list-title">Асики из Китая</div>

                <div class="catalog-home__list-text">Предзаказ от производителя</div>

                <a href="" class="catalog-home__list-link">Перейти</a>
            </div>
        </li>
    </ul>

    <img src="/assets/img/catalog/img1.svg" alt="" class="catalog-home__image">
</section>