<section class="sections sections--dark">
    <div class="sections__container">
        <div class="sections__info">
            <div class="sections__info-title">Превращай время в деньги</div>

            <div class="sections__info-text">
                Майнинг Оборудование начинало свой путь с процессоров и видеокарт , сейчас
                же это промышленные апараты , способные переплюнуть любую и любой процессор и видеокарту. Майнинг сейчас
                – это полноценный бизнес что приносит прибыль лучше чем любая Франшиза. Не опоздай сесть на поезд и быть
                на одной волне с миром , и мировыми трендами. Заказывай майнинг оборудование прямо сейча
            </div>

            <a href="" class="sections__info-link btn--gradient">Оставить заяку</a>
        </div>

        <div class="sections__image">
            <img src="/assets/img/catalog/img3.svg" alt="">
        </div>
    </div>
</section>