<section class="firsts firsts--payment">
    <div class="firsts__content">
        <div class="firsts__content-info">
            <div class="firsts__content-title">Оплата и доставка</div>

            <div class="firsts__content-text">
                AsicFox – работает по всей Украине
            </div>

            <a href="" class="firsts__content-link btn--gradient">
                Связаться с нами
            </a>
        </div>

        <ul class="firsts__list">
            <li class="firsts__list-item">
                <img src="/assets/img/payment/svg1.svg" alt="" class="firsts__list-icon">

                <div class="firsts__list-body">
                    <div class="firsts__list-text">
                        Любой Асик после покупки или ремонта отправляется в день оплаты. Исключение – согласование
                        курьера по Киеву с Клиентом.
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <img class="firsts__image" src="/assets/img/payment/img.png" alt="">
</section>
