<section class="payment-info">
    <div class="payment-info__container">
        <div class="payment-info__item">
            <div class="payment-info__body">
                <div class="payment-info__group">
                    <div class="payment-info__group-title">Доставка оборудования</div>

                    <p>
                        <b>Отправка товара по Украине и Киеву:</b> Отправка средствами Новой Почты или Доставки Курьером
                        ( в
                        зависимости от товара). Предоплата согласовывается
                    </p>

                    <p><b>Самовывоз:</b> Самовывоза с центра приёма\выдачи по адресу г.Киев пр.Победы 30</p>
                </div>

                <div class="payment-info__group">
                    <div class="payment-info__group-title">Оплата оборудования</div>

                    <p><b>Безналичный перевод:</b> На карту Monobank или PrivatBank</p>
                    <p><b>Наличными:</b> в нашем центре приёма \ выдачи по адресу г.Киев пр.Победы 30</p>
                    <p><b>Наложенный платеж:</b> через доставку почтовой службой Новая Почта</p>
                    <p><b>Криптовалюты:</b> BTC, BTC Cash, ETH </p>
                </div>
            </div>
        </div>

        <div class="payment-info__item">
            <div class="payment-info__body">
                <ul class="payment-info__list">
                    <li class="payment-info__list-item">
                        <div class="payment-info__list-title">Гарантируете ли сохранность груза?</div>

                        <div class="payment-info__list-text">
                            Безусловно. При доставке , самовывозе или отправке груза Новой Почтой. <span>(В случае Новой Почты, гарантию выполняет оценка груза в чеке)</span>
                        </div>
                    </li>

                    <li class="payment-info__list-item">
                        <div class="payment-info__list-title">Отправляете дорогие грузы?</div>

                        <div class="payment-info__list-text">
                            Отправляем любой товар по Тарифам Новой Почты. <span>(Учитывайте 2% за наложенный платеж плюс стоимость доставки)</span>
                        </div>
                    </li>

                    <li class="payment-info__list-item">
                        <div class="payment-info__list-title">Делаете адресную доставку?</div>

                        <div class="payment-info__list-text">
                            Делаем. Подробней уточняйте у наших контакт менеджеров
                        </div>
                    </li>

                    <li class="payment-info__list-item">
                        <div class="payment-info__list-title">Как упаковываете товар?</div>

                        <div class="payment-info__list-text">
                            Любой товар упаковывается с армированием пупырчатой (воздушной) плёнки и пенопласта. <span>Будьте уверены – доедет целым.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="payment-info__item orange">
            <div class="payment-info__body">
                <div class="payment-info__group">
                    <div class="payment-info__group-title">Остались вопросы?</div>

                    <p>
                        Что-бы получить актуальную информацию касательно асиков и майнинг оборудования , оставьте Ваш
                        контактный номер телефона и <b>консультант свяжется с Вами в течении 10 минут!</b>
                    </p>
                </div>

                <div class="payment-info__contact">
                    <header class="payment-info__contact-header">
                        <img src="/assets/img/trade/icon/eva_phone-fill.svg" alt="" class="payment-info__contact-icon">

                        <div class="payment-info__contact-title">Телефон</div>
                    </header>

                    <div class="payment-info__contact-value">
                        <p>(093)170-78-75</p>
                        <p>(068)011-39-42</p>
                    </div>

                    <div class="payment-info__contact-text">
                        <p>Связатся с менеджером , оставить</p>
                        <p>заявку на оборудование и ремон</p>
                    </div>
                </div>

                <div class="payment-info__contact">
                    <header class="payment-info__contact-header">
                        <img src="/assets/img/trade/icon/bx_bxs-message.svg" alt="" class="payment-info__contact-icon">

                        <div class="payment-info__contact-title">Мессенджеры</div>
                    </header>

                    <div class="payment-info__contact-soc">
                        <a href="" class="payment-info__contact-socitem">
                            <img src="/assets/img/trade/icon/cib_facebook.svg" alt="">
                        </a>

                        <a href="" class="payment-info__contact-socitem">
                            <img src="/assets/img/trade/icon/fa-brands_telegram.svg" alt="">
                        </a>

                        <a href="" class="payment-info__contact-socitem">
                            <img src="/assets/img/trade/icon/whh_viber.svg" alt="">
                        </a>
                    </div>

                    <div class="payment-info__contact-text">
                        <p>Мы доступны по всем популярными</p>
                        <p>месенджерами 24\7!</p>
                    </div>
                </div>

                <div class="orange__input">
                    <input type="text" placeholder="Номер телефона" class="orange__input-body">

                    <div class="orange__input-btn btn--gradient">
                        Отправить
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>